//fonts
@font-face { 
    font-family: Canela-Light; 
    src: url(../fonts/Canela-Light.otf); 
}
@font-face { 
    font-family: Canela-LightItalic; 
    src: url(../fonts/Canela-LightItalic.otf); 
}
@font-face { 
    font-family: ObjectSans-Light; 
    src: url(../fonts/ObjectSans-Light.otf); 
}
@font-face { 
    font-family: ObjectSans-Regular; 
    src: url(../fonts/ObjectSans-Regular.otf); 
}
@font-face { 
    font-family: ObjectSans-Medium; 
    src: url(../fonts/ObjectSans-Medium.otf); 
}
//colors
$red: #F84D35;
$diesel: #0C0B0B;
$deep-coffee: #575655;
$mountain-mist: #5A5352;
$grey: #9A9A9A;
$dawn-pink:#FAFAFA;
$white: #ffffff;
$pumice: #C5C5C5;