.transition {
  position: fixed;
  top: 0;
  left: 0;
  // width: 0;
  // height: 0;
  z-index: 9999;
  display: none;
  pointer-events: none;

  transform: translate(-50%, -50%);
  width: 220vw;
  height: 220vw;
  border-radius: 50%;
  background: $red;
}